.footer {
  padding: 1rem 1rem;
  background: #282727;
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
  align-items: flex start;
  text-align: start;
  justify-content: space-between;
  width: 60%;
  flex-wrap: wrap;
}

.right-side {
  width: 40%;
  text-align: end;
}

.white-icon {
  font-size: 1.5rem;
  color: #ffffff;
  padding-right: 1rem;
  padding-left: 1rem;
}

.white-icon:hover {
  color: #0095ff;
}
.footer h1 {
  color: #0095ff;
  font-size: 1rem;
}

.footer h2 {
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 1rem 1.5rem;
    align-items: auto;
  }

  .footer h1 {
    font-size: 0.4rem;
    align-items: flex-start;
    font-size: 0.6rem;
  }
  .footer h2 {
    font-size: 1rem;
  }

  .left-side {
    width: 70%;
  }

  .left-side a {
    padding-bottom: 10px;
  }
  .right-side {
    align-items: flex-start;
    text-align: center;
    display: flex;
    width: 25%;
  }
}
